.profile-page-container {
  display: flex;
  width: 80%;
  color: #28282B;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  background-color: #f8faff;
  transition: all 0.3s ease;
}

.profile-pic-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info-container {
  width: 70%;
  padding: 30px 20px;
}

.user-profile-pic-upload,
.user-default-profile-avatar {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 6px solid #87ceeb; 
  color: #28282B;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  line-height: 240px;
  background-color: #e0f0ff; 
  transition: all 0.3s ease;
}

.user-profile-pic-upload:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.user-profile-name {
  padding: 10px 0;
  border-bottom: 2px solid #87ceeb; 
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  color: #0ea7e9; 
}

.select-profile-pic-container {
  padding: 30px 0;
}

/* File upload button */
input[type="file"]::file-selector-button {
  border-radius: 6px;
  padding: 0 18px;
  height: 45px;
  cursor: pointer;
  background-color: #87ceeb; 
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #0ea7e9; 
}

input[type="file"]::file-selector-button:active {
  background-color: #0288d1; 
}
